<div class="py-4 bg-light">
  <section id="top">
    <div class="container">
      <div class="row md-4">
        <div class="col-md-8 md-3">
          <h3 class="md-3">Yousaisuki【洋裁好き】について</h3>
          <p>Yousaisukiは、洋裁に興味のある人が、自分で作ったものを紹介したり、情報交換をしたりすることを目的としたコミュニティサイトです。<br>
             <br>
             <strong>【投稿一覧】</strong>で他の人の投稿から作品のアイディアを得たり<br>
             <strong>【新規投稿】</strong>で自身が製作した作品を投稿したり<br>
             <strong>【グループ】</strong>を作成、参加し、利用者同士の感想や情報交換したり<br>
             <br>
             サイトの機能を使用し、自身の活動に役立ててください！
          </p>
        </div>
        <div class="col-md-4 d-flex justify-content-center align-item-center">
          <%= image_tag "30752613_s.jpg", size: "350x230" %>
        </div>
      </div>
    </div>
  </section>
</div>