<div class="py-4 bg-light">
  <section id="top">
    <div class="container">
      <div class="row md-4">
        <div class="col-md-8 md-3">
          <h3 class="md-3">Yousaisuki【洋裁好き】について</h3>
          <p>Yousaisukiは、洋裁に興味のある人が、自分で作ったものを紹介したり、情報交換をしたりすることを目的としたコミュニティサイトです。<br>
             自身が製作した作品を投稿したり、他の人の投稿から作品のアイディアを得たり、自身の活動に役立ててください。<br>
             新規登録でユーザー登録して、ぜひご参加ください！</p>
          <a href="/users/sign_up" class="btn btn-info">新規登録</a>
        </div>
        <div class="col-md-4 d-flex justify-content-center align-item-center">
          <%= image_tag "30752611_s.jpg", size: "350x280" %>
        </div>
      </div>
    </div>
  </section>
</div>